h2 Open Proposals
p The following proposals are open for discussion or voting. Once you vote on a proposal, you will NOT be able to change your vote.
if data
	each proposal in data
		.proposal
			if proposal.VotingDisplay == 1 || proposal.Status == 2
				.row
					.col-xs-12.col-md-8
						h3 ID# #{proposal.id}: #{proposal.ProposalTitle}
					.col-xs-12.col-md-4.text-center
						if proposal.Status == 0
							.status-wrap.status-0
								p: b Unsubmitted
						if proposal.Status == 1
							.status-wrap.status-1
								p: b Submitted
						if proposal.Status == 2
							.status-wrap.status-2
								p: b In Voting
						if proposal.Status == 3
							.status-wrap.status-3
								p: b Awaiting Decision
						if proposal.Status == 4
							.status-wrap.status-4
								p: b Funded
						if proposal.Status == 5
							.status-wrap.status-5
								p: b Partially Funded
						if proposal.Status == 6
							.status-wrap.status-6
								p: b Not Funded
						if proposal.Status == 7
							.status-wrap.status-7
								p: b Cancelled by User
						if proposal.Status == 8
							.status-wrap.status-8
								p: b Cancelled by Admin

				if proposal.VotingDisplay == 1
					p.
						<a href='/proposals/#{proposal.id}'> View Proposal </a>
						 / 
						<a href='/metrics/#{proposal.id}'> View Metrics </a>
					
					p #{proposal.ends ? (proposal.ends + (proposal.ends == 1 ? ' Endorestment' : ' Endorsements')) : 'No Endorsements for this Proposal'} 

					h4 Abstract
					p= proposal.Abstract
					if proposal.metrics
						.metrics
							h4 Metrics
							each metric in proposal.metrics
								.row
									.col-xs-6
										p: b #{users[metric.AuthorId].NetId}
									.col-xs-6.text-right
										p <b>Score:</b> 3.12
								p= metric.Notes
								hr

							p <b>Total Average</b> 4.5
				h4 Voting
				if proposal.Status == 2 
					if voted.indexOf(proposal.id) === -1
						input(type='hidden' name='proposalId' value='#{proposal.id}')
						select(name='vote' id='#{proposal.id}')
							option(value='1') Yes
							if data[proposal.id].partials
								each partial in data[proposal.id].partials
									option(value='#{partial.id}')= partial.Title
							option(value='0') No
						button(id='#{proposal.id + "button"}' type='button').vote-button Vote
					else 
						p You've already voted on this proposal
				else
					p Voting is not open at this time