extends ../head

append css
	link(rel='stylesheet' href='/css/dynatable.css')

append js
	script(src='/js/dynatable.js')
	script(type='text/javascript')
			$(document).ready(function() {
			$('#dynatable').dynatable();
			});

block content

	.container
		.proposals-header
			h2(style='float:left;')= title 
			.dropdown.proposals-dropdown
				//- TODO button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true', style='margin: 20px') All Years
					span.caret

					ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1', style='margin: 0px')
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='#') 2015

						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='#') 2014

						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='#') 2013

						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='#') 2012

	.container
		table.table-striped.table#dynatable
			if proposals.length != 0
				thead
					tr
						th Year
						th Number
						th Title
						th Status
						th Category
						th Department
						if myProposals
							th Letter
						if isAdmin || isCommitteeMember
							th Updated
				tbody
					- each proposal in proposals
						tr
							td #{proposal.Year}
							td #{proposal.Number}
							if proposal.Status == 0
								td: a(href='/proposals/update/#{proposal.id}') #{proposal.ProposalTitle} 
								td #{proposal.FastTrack ? "[FT] ": ""}#{proposal.UAC ? "[UAC] ": ""}Unsubmitted
							if proposal.Status == 1
								td: a(href='/proposals/#{proposal.Year}/#{proposal.Number}') #{proposal.ProposalTitle} 
								td #{proposal.FastTrack ? "[FT] ": ""}#{proposal.UAC ? "[UAC] ": ""}Submitted
							if proposal.Status == 2
								td: a(href='/proposals/#{proposal.Year}/#{proposal.Number}') #{proposal.ProposalTitle}
								td #{proposal.FastTrack ? "[FT] ": ""}#{proposal.UAC ? "[UAC] ": ""}In Voting
							if proposal.Status == 3
								td: a(href='/proposals/#{proposal.Year}/#{proposal.Number}') #{proposal.ProposalTitle}
								td #{proposal.FastTrack ? "[FT] ": ""}#{proposal.UAC ? "[UAC] ": ""}Awaiting Decision
							if proposal.Status == 4
								td: a(href='/proposals/#{proposal.Year}/#{proposal.Number}') #{proposal.ProposalTitle}
								td #{proposal.FastTrack ? "[FT] ": ""}#{proposal.UAC ? "[UAC] ": ""}Funded
							if proposal.Status == 5
								td: a(href='/proposals/#{proposal.Year}/#{proposal.Number}') #{proposal.ProposalTitle}
								td #{proposal.FastTrack ? "[FT] ": ""}#{proposal.UAC ? "[UAC] ": ""}Partially Funded
							if proposal.Status == 6
								td: a(href='/proposals/#{proposal.Year}/#{proposal.Number}') #{proposal.ProposalTitle}
								td #{proposal.FastTrack ? "[FT] ": ""}#{proposal.UAC ? "[UAC] ": ""}Not Funded
							if proposal.Status == 7
								td #{proposal.ProposalTitle}
								td #{proposal.FastTrack ? "[FT] ": ""}#{proposal.UAC ? "[UAC] ": ""}Cancelled by User
							if proposal.Status == 8
								td #{proposal.ProposalTitle}
								td #{proposal.FastTrack ? "[FT] ": ""}#{proposal.UAC ? "[UAC] ": ""}Cancelled by Admin


							td: a(href='/proposals/category/#{proposal.Category}') #{categories[proposal.Category].name}
							td: a(href='/proposals/department/#{proposal.Department}') #{proposal.Department}
							
							if myProposals
								if proposal.LetterStatus != 0
									if proposal.LetterStatus == 1
										td: a(href='/proposals/award/#{proposal.id}') View
									else
										td: a(href='/proposals/rejection/#{proposal.id}') View
								else
									td N/A
							
							if isAdmin || isCommitteeMember
								td #{moment(proposal.updatedAt).format('YYYY-MM-DD')}
							
			else 
				p There are no proposals yet!
