extends ../head

append css
	link(rel='stylesheet', href='/css/supplemental.css')

append js
	script(src='/js/supplemental.js')

block content
	.container
		.col-md-9.col-xs-12
			h2 #{supplemental.Title}
			h3 Abstract
			p #{supplemental.Abstract}
			
			-var total = 0;
			table.0.items(class='#{supplemental.Status == 1 ? "funded" : ""}')
				tr.item-head
					th Item
					th Group
					th Unit Price
					th Quantity
					th Subtotal
				
				each item in items
					+item(item)
				+total()
				
			h2 Modified Items
			-var total = 0;
			table.0.items
				tr.item-head
					th Item
					th Group
					th Unit Price
					th Quantity
					th Subtotal
				
				each modifiedItem in modifiedItems
					+item(modifiedItem)

		if isAdmin || isCommitteeMember || (editor && supplemental.Submitted == 0)
			.col-md-3.hidden-xs.hidden-sm.sidebar.hidden-print
				if isAdmin || isCommitteeMember
					h3 Voting
					if supplemental.Status == 0
						if vote 
							form
								select(name='voteDecision' disabled) 
									option(value='1') Approve
									option(value='0') Deny
								button(disabled)#voteButton Submit
								if vote.Value == 1
									p You have already voted to approve this supplemental
								if vote.Value == 0
									p You have already voted to deny this supplemental
						else 
							form(method='post', action='/api/v1/vote/supplemental/#{supplemental.id}')
								select(name='voteDecision') 
									option(value='1') Approve
									option(value='0') Deny
								button#voteButton Submit
					if supplemental.Status == 1
						p This supplemental has been approved.
					if supplemental.Status == 2
						p this supplemental has been denied.
					if noVotes
						p #{noVotes.length} x Deny
					else
						p 0 x Deny
					if yesVotes
						p #{yesVotes.length} x Approve
					else
						p 0 x Approve
				hr
				if isAdmin || (editor && supplemental.Submitted == 0)
					h3 Editor
					p You have edit access to this supplemental.
					a(href='/supplemental/#{supplemental.id}/0') Edit Supplemental
				br
				
			
				
			
mixin item(item)
	tr.item-info.info-first-line
		if item.id && supplemental.Status == 0 && ((editor && supplemental.Submitted == 0) || isAdmin)
			td <h4>#{item.ItemName}</h4> (<a href='/supplemental/#{supplemental.id}/#{item.id}'>edit</a>)
		else 
			td: h4= item.ItemName
		td= item.Group
		
		if item.PriceText
			td= "$" + item.PriceText
		else
			td= "$" + item.Price.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
		
		if item.QuantityText
			td= item.QuantityText
		else
			td= item.Quantity
		
		td= "$" + (Math.round(item.Price * item.Quantity * 100) / 100).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
	tr.item-info
		td(colspan='5')
			span Description: 
			| #{item.Description}
	tr.item-info.info-last-line
		td(colspan='5')
			span Justification: 
			| #{item.Justification}

	-total+= (Math.round(item.Price * item.Quantity * 100) / 100);

mixin total() 
	tr.item-head
		td: h3 Summary
		td 
		td 
		td 
		td Total
	tr.item-head
		td
		td
		td
		td
		td= '$' + total.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
	-total = 0;