extends ../head

block content
	.col-xs-12
		.col-md-3
				div#itemsList
					h3 All Items
					a(href='/supplemental/#{supplemental.id}/0') Supplemental Main
					ol
						- each itemN in items
							li 
								if itemN.ItemName !== null && itemN.ItemName.length != 0
									a(href='/supplemental/#{supplemental.id}/#{itemN.id}') #{itemN.ItemName}
								else 
									a(href='/supplemental/#{supplemental.id}/#{itemN.id}') (No Item Name)
		
		.col-md-9.well
				h1 Edit Supplemental for #{proposal.ProposalTitle}
				
				if item != 0

					form.form-horizontal#editItem(name='editItem', method='post')
						fieldset
							legend
							.form-group
								label.col-md-4.control-label(for='ItemName') Name
								.col-md-4
									input#ItemName.form-control.input-md(name='ItemName', type='text', placeholder='...', value="#{item.ItemName}")
									input#ItemId(name='ItemId', type='hidden', value='#{item.id}')
							.form-group
								label.col-md-4.control-label(for='Group') Group
								.col-md-4
									input#Group.form-control.input-md(name='Group', type='text', placeholder='...', value="#{item.Group}")
							.form-group
								label.col-md-4.control-label(for='Quantity') Quantity
								.col-md-4
									input#Quantity.form-control.input-md(name='Quantity', type='text', placeholder='1,2,3', value="#{item.Quantity}")
							.form-group
								label.col-md-4.control-label(for='Price') Per Unit Price
								.col-md-4
									input#Price.form-control.input-md(name='Price', type='text', placeholder='$', value="#{item.Price}")
							.form-group
								label.col-md-4.control-label(for='Justification') Justification
								.col-md-4
									textarea(rows="5")#Justification.form-control(name='Justification') #{item.Justification} 
							.form-group
								label.col-md-4.control-label(for='Description') Description
								.col-md-4
									textarea(rows="5")#Description.form-control(name='Description') #{item.Description}
							.form-group
								.col-md-4.col-md-offset-4
									button#saveItem.btn.btn-default.form-button(name='saveItem', type="submit") Save
									|  
									a(href="/item/location/#{item.id}") 
										button(type='button').btn.btn-default +Location
									|  
									a(href="/items/new/supplemental/#{supplemental.id}/#{proposal.id}") 
										button(type='button').btn.btn-default +New Item
							.form-group
								.col-md-4.col-md-offset-4
									a(href='/supplemental/view/#{supplemental.id}')
										button#returnSupplemental.btn.btn-default(name='return', type='button') View Draft Supplemental
							.form-group
								.col-md-4.col-md-offset-4
									a(href='/proposals/#{proposal.Year}/#{proposal.Number}')
										button#return.btn.btn-default(name='return', type='button') Return to Proposal
							.form-group
								.col-md-4.col-md-offset-4
									a(href='/item/delete/#{item.id}')
										button(type='button').btn.btn-danger Delete Item

				else
					form.form-horizontal#editItem(name='editSupplemental', method='post')
						fieldset
							legend
							.form-group
								label.col-md-4.control-label(for='SupplementalTitle') Supplemental Title
								.col-md-4
									input#SupplementalTitle.form-control.input-md(name='SupplementalTitle', type='text', placeholder='...', value="#{supplemental.Title}")
							.form-group
								label.col-md-4.control-label(for='Abstract') Abstract
								.col-md-4
									textarea#Abstract.form-control(name='Abstract', rows="7") #{supplemental.Abstract}
									#Abstract.span.help-block Please provide context for this supplemental
							.form-group
								label.col-md-4.control-label(for='saveItem')
								.col-md-4
									button#saveItem.btn.btn-default.form-button(name='saveItem', type="submit") Save
							.form-group
								.col-md-4.col-md-offset-4
									a(href='/supplemental/view/#{supplemental.id}')
										button#returnSupplemental.btn.btn-default(name='return', type='button') View Draft Supplemental
							.form-group
								.col-md-4.col-md-offset-4
									a(href='/proposals/#{proposal.Year}/#{proposal.Number}')
										button#return.btn.btn-default(name='return', type='button') Return to Proposal
					form.form-horizontal(method="post", action="/supplemental/submit/#{supplemental.id}")
						.form-group
							.col-md-4.col-md-offset-4
								button(type='submit').btn.btn-success Submit Supplemental
					form.form-horizontal(method="post", action="/supplemental/delete/#{supplemental.id}")
						.form-group
							.col-md-4.col-md-offset-4
								button(type='submit').btn.btn-danger Delete Supplemental
