extends head

append js
	script(src='/js/compare.js')

append css
	link(rel='stylesheet', href='/css/funds.css')

block content
	.container
		h1 Compare Funding by Department
		p View the amount of funding given to each department with the given filter. Select a department to add to the chart below. To clear all entries, click the "Clear All" button.
		input#proposals(name='proposals', type='hidden', value='#{JSON.stringify(proposals)}')
		input#allDepartments(name='allDepartments', type='hidden', value='#{JSON.stringify(departments)}')
		input#allCategories(name='allCategories', type='hidden', value='#{JSON.stringify(categories)}')
		.inline
			select(id="department" name='department')
				option(value='All') All Departments
				each val, index in departments
					option(value='#{index}')= val
			button.btn.btn-primary.btn-sm#addDepartment + Add Department
		.inline
			select(id="startYear" name='startYear')
				each val, index in proposals
					option(value='#{index + proposals[0][0].Year}')= index + proposals[0][0].Year
			select(id="endYear" name='endYear')
				each val, index in proposals
					if index < proposals.length - 1
						option(value='#{index + proposals[0][0].Year}')= index + proposals[0][0].Year
				option(value='#{proposals[0][0].Year + proposals.length - 1}' selected)= proposals[0][0].Year + proposals.length - 1
		.inline
			select(id="category" name='category')
				option(value='All') All Categories
				each val, index in categories
					option(value='#{index}')= val.name
			select(id="chartType" name='chartType')
				option(value='line') Line
				option(value='bar') Bar
		.inline
			button.btn.btn-warning.btn-sm#clearAll Clear All
		#chart