extends head

append js
	script(src='/js/funds.js')

append css
	link(rel='stylesheet', href='/css/funds.css')

block content
	.container
		input#proposals(name='proposals', type='hidden', value='#{JSON.stringify(proposals)}')
		select(id="department" name='department')
			option(value='All') All Departments
			each val, index in departments
				option(value='#{index}')= val
		select(id="category" name='category')
			option(value='All') All Categories
			each val, index in categories
				option(value='#{index}')= val.name
		.data-chart.table-responsive
			table
				thead
					tr
						th Total Requested
						th Total Funded
						th Percent Funded
				tbody
					tr
						td#requested Meow
						td#funded #{proposals.length}
						td#percent #{proposals.length}